/* Quiz */
.style-answer {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  min-width: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
  font-weight: bold;
  background-color: rgb(219, 247, 247);
  color: rgb(8, 0, 0);
  font-family: monospace;
  padding: 12px;
  /* font-size: 20px; */
}

.style-question {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  min-width: 100% !important;
  max-width: 100 !important;
  width: 100% !important;
  padding: 12px;
  font-weight: bold;
  background-color: rgb(250, 250, 250);
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: monospace;
}
.bg-quiz {
  width: 100%;
}
.button {
  border: 1px solid white;
  background-color: white;
}
.game_card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game_card_container {
  width: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-direction: column;
}
.correct-answer {
  background-color: green;
}
.replay {
  border: none;
  background-color: white;
  font-weight: bold;
  color: red;
}
